<h2>Lista de Contatos</h2>

<button mat-stroked-button	color="primary" [routerLink]="['/contact/create']" routerLinkActive="router-link-active" >Criar novo contato</button>
<hr>

<table mat-table [dataSource]="contacts">

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let contact"> {{contact.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-mail </th>
    <td mat-cell *matCellDef="let contact"> {{contact.email}} </td>
  </ng-container>

  <ng-container matColumnDef="showButton">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let contact">
        <button mat-raised-button	color="primary" [routerLink]="['/contact', contact.id]" routerLinkActive="router-link-active" >Detalhes</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="editButton">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let contact">
        <button mat-raised-button	color="accent" [routerLink]="['/contact/edit/', contact.id]" routerLinkActive="router-link-active">Editar</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="deleteButton">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let contact">
        <button mat-raised-button	color="warn" (click)="deleteContact(contact)">Deletar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


