<mat-card>
    <form (submit)="onSaveProduct(productForm)" #productForm="ngForm">
        <div class="formProducts">
            <mat-form-field>
                <input matInput name="Name" type="text" placeholder="Nome do produto" [ngModel]="product?.name" required #Name="ngModel">
                <mat-error *ngIf="Name.invalid">Nome inválido</mat-error>
            </mat-form-field> 
        </div>

        <div class="formProducts50">
            <mat-form-field>
                <input matInput name="Band" type="text" placeholder="Banda" [ngModel]="product?.band" required #Band="ngModel">
                <mat-error *ngIf="Band.invalid">Banda inválida</mat-error>
            </mat-form-field>&nbsp;
            <mat-form-field>
                <input matInput name="Price" type="number" placeholder="Valor da camisa" [ngModel]="product?.price" required #Price="ngModel">
                <span matPrefix>R$&nbsp;</span>
                <span matSuffix>,00</span>
                <mat-error *ngIf="Price.invalid">Preço inválido</mat-error>
            </mat-form-field>
        </div>      
                
        <div class="formProducts">
            <mat-form-field>
                <input matInput name="Img" type="text" placeholder="Endereço da imagem do produto" [ngModel]="product?.image" required #Img="ngModel">
                <mat-error *ngIf="Img.invalid">Endereço de imagem inválido</mat-error>
            </mat-form-field>
        </div>

        <!-- <div class="formProducts">
            <mat-form-field>
                <textarea matInput name="Stock" placeholder="Json do Estoque" [ngModel]="product?.stock" required #Stock="ngModel"></textarea>
                <mat-error *ngIf="Stock.invalid">Inclua o json do estoque</mat-error>
            </mat-form-field>
        </div> -->
        
        <button mat-raised-button type="submit">Salvar</button>
    </form>
</mat-card>
      